#cloud-config

---
repo_update: true
repo_upgrade: all
locale: ja_JP.UTF-8
yum_repos:
    nodesource:
      baseurl: https://rpm.nodesource.com/pub_0.12/el/7/$basearch
      enabled: true
      failovermethod: priority
      gpgcheck: false
      name: Node.js Packages for Enterprise Linux 7 - $basearch
packages:
  - gcc-c++
  - make
  - nodejs
  - git
runcmd:
  - "aws ec2 associate-address --allow-reassociation --allocation-id eipalloc-ef906c8a --region ap-northeast-1 --instance-id $(curl http://169.254.169.254/latest/meta-data/instance-id)"
  - [sed, -i, 's/en_US/ja_JP/', /etc/sysconfig/i18n]
  - [cp, /usr/share/zoneinfo/Asia/Tokyo, /etc/localtime]
  - ['git','clone','https://github.com/mudslinger/salesftp-singlenode.git','/srv/ftp']
  - ['cp','/srv/ftp/nginx.conf','/etc/nginx/nginx.conf']
  - "npm install coffee-script pm2 -g"
  - ['service','nginx','restart']
  - ['cd', '/srv/ftp']
  - ['npm', 'install']
  - ['npm', 'start']


