#cloud-config

---
repo_update: true
repo_upgrade: all
locale: ja_JP.UTF-8
yum_repos:
    nodesource:
        baseurl: https://rpm.nodesource.com/pub_0.12/el/7/$basearch
        enabled: true
        failovermethod: priority
        gpgcheck: false
        name: Node.js Packages for Enterprise Linux 7 - $basearch
packages:
  - gcc-c++
  - make
  - nodejs
  - git
runcmd:
  - [sed, -i, 's/en_US/ja_JP/', /etc/sysconfig/i18n]
  - [cp, /usr/share/zoneinfo/Asia/Tokyo, /etc/localtime]
  - ['git','clone','https://github.com/mudslinger/salesftp-singlenode.git','/srv/ftp']
  - ['cd', '/srv/ftp']
  - ['npm', 'install']
  - ['npm','start']
